@model PetProjSite.Models.ProductAndCatalog
@using PetProjSite.Controllers;
<!-- загальна бібліотека
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
<!-- загальна бібліотека
<<link rel="stylesheet" href="~/PetProjSite.styles.css" asp-append-version="true" /> -->

<link rel="stylesheet" type="text/css" href="~/css/Login.css">

<body>
    <main>
        <section>
            <div class="ContainerProducts">
                @foreach (var product in Model.cataloghistory)
                {
                    var prodexist = Model.productshistory.FirstOrDefault(d => d.id == product.Product.id);
                    if(prodexist != null)
                    {
                        <div class=ContainerProducts__block>
                            <img src="@product.Product.product_photo">
                            <div class="ContainerProducts__block-text">
                                @product.Product.product_description
                            </div>
                            <div class="ContainerProducts__BoxButton">
                                <form class="rowname7" asp-action="AddingToHistory" asp-controller="Profile" method="post">
                                    <input type="hidden" name="productId" value="@product.Product.id" />
                                    <button class="Button ContainerProducts__BoxButton-button" type="submit">
                                        Переглянути
                                    </button>
                                </form>
                            </div>
                        </div>
                    }                    
                }
            </div>
        </section>
    </main>

</body>
