@using PetProjSite.Controllers;

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <!-- <link rel="stylesheet" href="~/PetProjSite.styles.css" asp-append-version="true" />  -->
    <link rel="stylesheet" type="text/css" href="~/css/Layout.css">
    <link rel="stylesheet" type="text/css" href="~/css/catalog.css">
</head>
<body>
    <main>
        <section>
            <div class="bio-bg">
            <h2 style="margin: 0 auto;"><strong>Profile</strong></h2>
                </div>
        </section>
    </main>

</body>
