@model AdminProfile

<link rel="stylesheet" type="text/css" href="~/css/Login/checkbox.css">
<link rel="stylesheet" type="text/css" href="~/css/Login/Login.css">

<section class="Login">
    <div class="Login__frame">
        <h2 class="login-text">Admin log in</h2>

        <!-- Форма входу -->
        <form class="Login__form-signin" id="account" method="post">

            <!-- Введення ім'я користувача -->
            <label asp-for="Email">Ім'я користувача</label>
            <input asp-for="Email" class="Login__input" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <!-- Введення пароля -->
            <div class="Login__form-password">
                <label asp-for="Password" for="password">Пароль</label>
                <input asp-for="Password" type="password" class="Login__input" autocomplete="current-password" aria-required="true" id="password" />
                <img class="Button button-eyeicon" src="~/images/password_hide.png" id="eyeicon" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- Прапорець "Запам'ятати мене" -->
            <input type="checkbox" id="checkbox" />
            <label for="checkbox"><span class="ui"></span>Запам'ятати мене</label>

            <!-- Кнопка входу -->
            <div id="Login__submit" type="submit" class="Login__submit">
                <button class="Button Login__btn-signin">Увійти</button>
            </div>
        </form>
        <!-- Посилання на відновлення паролю -->
        <div class="forgot">
            <a class="forgot__btn" href="#">Забули пароль?</a>
        </div>

    </div>

    <!-- Посилання для оновлення сторінки -->
    <a id="refresh" value="Оновити" onClick="history.go()">
        <!-- Зображення кнопки оновлення -->
        <img src="~/images/reload.png" class="refreshicon" width="25px" height="25px">
    </a>

</section>

<script src="~/js/Login/Login.js" defer></script>