@model UserProfile

<!-- Посилання на зовнішній таблиці стилів -->
<link rel="stylesheet" href="~/css/Login/checkbox.css">
<link rel="stylesheet" href="~/css/Login/Login.css">

<!-- Посилання на Google Fonts для шрифту Open Sans -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<section class="Login">
    <div class="Login__frame">

        <div class="Login__nav">
            <!-- Навігаційні посилання для входу та реєстрації -->
            <ul>
                <li class="Login__signin-active"><a href="/Login/Login">Увійти</a></li>
                <li class="Login__signup-inactive"><a href="/Registration/Registration">Зареєструватися</a></li>
            </ul>
        </div>

        <!-- Форма входу -->
        <form class="Login__form-signin" id="account" method="post">

            <!-- Введення ім'я користувача -->
            <label asp-for="e_mail">Ім'я користувача</label>
            <input asp-for="e_mail" class="Login__input" />
            <span asp-validation-for="e_mail" class="text-danger"></span>

            <!-- Введення пароля -->
            <div class="Login__form-password">
                <label asp-for="password" for="password">Пароль</label>
                <input asp-for="password" type="password" class="Login__input" autocomplete="current-password" aria-required="true" id="password" />
                <img class="Button Button_ico button-eyeicon" src="~/images/password_hide.png" id="eyeicon" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>

            <!-- Прапорець "Запам'ятати мене" -->
            <input type="checkbox" id="checkbox" />
            <label for="checkbox"><span class="ui"></span>Запам'ятати мене</label>

            <!-- Кнопка входу -->
            <div id="Login__submit" type="submit" class="Login__submit">
                <button class="Button Login__btn-signin">Увійти</button>
            </div>

            <a class="Button Products__buttons-admin" href="~/Login/AdminLogin">admin</a>

        </form>
        <!-- Посилання на відновлення паролю -->
        <div class="forgot">
            <a class="forgot__btn" href="#">Забули пароль?</a>
        </div>

    </div>

    <!-- Посилання для оновлення сторінки -->
    <a id="refresh" value="Оновити" onClick="history.go()">
        <!-- Зображення кнопки оновлення -->
        <img src="~/images/reload.png" class="refreshicon">
    </a>

</section>

<script src="~/js/Login/Login.js" defer></script>

