.Button {
	all: unset; /* Скасовує всі стандартні стилі для елемента, починаючи "з чистого аркуша" */
	display: inline-flex; /* Встановлює тип відображення елемента як "inline-flex", що дозволяє використовувати гнучкий контейнер із властивостями flexbox */
	box-sizing: border-box; /* Визначає властивість box-sizing для коректного врахування границь та внутрішніх заповнень */
	flex-direction: row; /* Задає напрямок розташування елементів у flex-контейнері (горизонтально) */
	position: relative; /* Визначає позицію елемента */
	height: 42px; /* Задає висоту та ширину елемента */
	padding: 0 12px; /* Задає внутрішні відступи елемента */
	margin: 10px 5px;
	background-color: #ffc6c7; /* Задає колір тла кнопки */
	font-size: 24px; /* Задає розмір шрифту */
	/*overflow: hidden;  Визначає властивість overflow для обробки вмісту, що виходить за межі елемента */
	border-radius: 5px; /* Задає радіус скруглення кутів елемента */
	cursor: pointer; /* Визначає курсор при наведенні на кнопку */
	border: none; /* Задає границю елемента */
	outline: 2px solid transparent; /* Встановлюємо початковий стан для анімації */
	outline-offset: 4px;
	font-weight: bold; /* Задає товщину шрифту */
	color: black; /* Задає колір тексту кнопки */
	align-items: center; /* Визначає вирівнювання елементів вздовж перехідної (cross) осі */
	transition: outline-color 0.3s, background-color 0.3s, filter 0.3s;
}

	.Button:hover {
		filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.2)); /* Задайте параметри для тіні (offset-x offset-y blur-radius color) */
	}

	.Button img {
		height: 30px;
		width: 30px;
		overflow: visible;
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
	}


	.Button:focus-visible {
		outline: 2px solid;
		outline-color: black;
		outline-offset: 4px;
	}

.Button_ico {
	background-color: transparent;
	min-height: 30px;
	min-width: 30px;
	height: 30px;
	padding: 0;
	overflow: visible;
}

	.Button_ico:hover {
	}

a {
	all: unset;
	position: relative;
	font-size: 24px;
	font-weight: bold;
}

.Button_aside {
	width: 90%;
	margin: 10px 5%;
}
