
Site/PetProjSite/.vs/PetProjSite/DesignTimeBuild/.dtbcache.v2
Site/PetProjSite/.vs/PetProjSite/DesignTimeBuild/.dtbcache.v2
Site/PetProjSite/.vs/PetProjSite/FileContentIndex/1eaf8592-fd44-4299-acd3-76e22f9ec596.vsidx
Site/PetProjSite/.vs/PetProjSite/FileContentIndex/62932e62-1152-4859-a2b7-c0e1d3dc184f.vsidx
Site/PetProjSite/.vs/PetProjSite/v17/.suo
Site/PetProjSite/PetProjSite/obj/Debug/net6.0/PetProjSite.AssemblyInfo.cs
Site/PetProjSite/PetProjSite/obj/Debug/net6.0/PetProjSite.AssemblyInfoInputs.cache
Site/PetProjSite/PetProjSite/obj/Debug/net6.0/project.razor.vs.bin
Site/PetProjSite/PetProjSite/obj/Debug/net6.0/PetProjSite.AssemblyInfoInputs.cache
