.Main {
    display: flex;
    position: relative;
    padding: 40px 30px 20px 30px;
}

.Main__contact {
    display: flex;
    position: absolute;
    right: 50px;
    align-items: center;
}

.Main__contact-button {
    text-decoration: none;
    font-family: Roboto, Consolas, Arial;
    color: black;
    font-size: 20px;
    margin: 0 50px 0 0;
    padding: 0;
    background-color: white;
    border: none;
    cursor: pointer;
}

.Main__contact-button_portfolio, .Main__contact-button_contacts, .Main__contact-button_number{

}

.Screen {
    position: relative;
    height: 580px;
    overflow: hidden;
}

    .Screen img {
        width: 100%;
        object-fit: cover;
    }

.screen__container {
    position: absolute;
    top: 120px;
    left: 220px;
}

.screen__buttons {
    position: absolute;
    top: 360px;
    left: 0px;
}

.bio {
    margin: 100px;
}

.bio__about-me {
    display: flex;
    margin: 0px auto;
    width: 100%;
    justify-content: space-evenly;
}

.bio__about-me-group-img {
    width: 375px;
    height: 475px;
    position: relative;
    display: flex;
}

    .bio__about-me-group-img img {
        position: absolute;
        width: 310px;
        height: 460px;
        left: 40px;
        z-index: 1;
    }

.bio__about-me-img-bg {
    position: absolute;
    background-color: rgb(185, 185, 185);
    width: 310px;
    height: 460px;
    top: 15px;
    left: 15px;
    z-index: 0;
}

.bio__about-me-img-line {
    position: absolute;
    transform: rotate(-38deg);
    background-color: black;
    height: 604px;
    width: 1px;
    left: 184px;
    top: -64px;
}


.bio__about-me-text {
    width: 350px;
    display: inline-block;
}

.portfolio {
    
}

.portfolio__bg {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    background-color: #F2F2F2;
    text-align: center;
}



.portfolio__imgs {
    width: 90%;
    height: 100%;
    margin: 50px auto 0 auto;
    text-align: center;
}

    .portfolio__imgs img {
        width: 350px;
        height: 350px;
        display: inline-block;
        margin: 10px; /* Можете змінити це значення відстані між зображеннями */
    }