.Main {
    display: flex;
    position: relative;
    padding: 40px 30px 20px 30px;
    
}

.Main__contact {
    display: flex;
    position: absolute;
    right: 450px;
    align-items: center;
}

.Main__contact-button {
    text-decoration: none;
    font-family: Roboto, Consolas, Arial;
    color: black;
    font-size: 20px;
    margin: 0 50px 0 0;
    padding: 0;
    background-color: #00000000;
    border: none;
    cursor: pointer;
}

.Main__contact-button_portfolio, .Main__contact-button_contacts, .Main__contact-button_number{

}

.Screen {
    position: relative;
    height: 580px;
    overflow: hidden;
}

    .Screen img {
        width: 100%;
        object-fit: cover;
    }

.screen__container {
    position: absolute;
    top: 120px;
    left: 220px;
}

.screen__buttons {
    position: absolute;
    top: 360px;
    left: 0px;
}

.bio {
   padding: 100px 100px 0 100px;
   background-color: white;
}

.bio__about-me {
    display: flex;
    margin: 0px auto;
    width: 100%;
    justify-content: center;
    
}

.bio__about-me-group-img {
   padding: 20px;
   margin: 0 50px 0 50px;
   width: 375px;
   height: 475px;
   position: relative;
   display: flex;
   background-color: #faeee7;
   border-radius:5px;
}

    .bio__about-me-group-img img {
        position: absolute;
        width: 310px;
        height: 460px;
        left: 60px;
        top:20px;
        z-index: 1;
    }

.bio__about-me-img-bg {
    position: absolute;
    background-color: rgb(185, 185, 185);
    width: 310px;
    height: 460px;
    top: 35px;
    left: 35px;
    z-index: 0;
}

.bio__about-me-img-line {
    position: absolute;
    transform: rotate(-38deg);
    background-color: black;
    height: 604px;
    width: 1px;
    left: 204px;
    top: -40px;
}


.bio__about-me-text {
   margin-bottom: 100px;
   padding: 20px;
   width: 375px;
   height: 475px;
   display: inline-block;
   background-color: #faeee7;
   border-radius: 5px;
}

.portfolio {
    
}

.portfolio__bg {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    background-color: #F2F2F2;
    text-align: center;
}



.portfolio__imgs {
   height: 100%;
   padding: 0 20% 100px 20%;
   margin: 50px auto 0 auto;
   text-align: center;
}

    .portfolio__imgs img {
        width: 350px;
        height: 350px;
        display: inline-block;
        margin: 10px; /* Можете змінити це значення відстані між зображеннями */
    }