body {
	font-family: Roboto;
}

/* основний блок */
.main {
	overflow: hidden;
	background-color: rgba(255, 255, 255, 1);
	width: 100%;
	height: 4416px;
	position: absolute;
}

/* фон портфоліо */
.box-bg {
	background-color: rgba(240, 240, 240);
	width: 70%;
	height: 3242px;
	position: absolute;
	left: 15%;
	top: 741px;
}

/* перший екран */
.first_screen {
	width: 100%;
	height: 740px;
	position: absolute;
	left: 0px;
	top: 0px;
}

/* верхнє меню */
.top {
	box-shadow: 0px 7px 17.5px rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 1);
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0px;
}

/* всі елементи верхнього меню */
.top-element {
	width: 100%;
	height: 30px;
	position: absolute;
	top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* блок кнопки home та my_services */
.home_my_services {
	width: 170px;
	height: 30px;
	left: 0px;
	top: 0px;
}

/*кнопка home*/
.button_home {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

/* вертикальна лінія*/
.line_1 {
	transform: rotate(90deg);
	width: 28px;
	height: 0px;
	position: absolute;
	left: 35px;
	top: 14px;
	border: 1px solid rgba(0, 0, 0, 1);
}

.my_services {
	background-color: white;
	overflow: hidden;
	border: none;
	color: rgba(0, 0, 0, 1);
	width: 100px;
	height: 20px;
	position: absolute;
	left: 70px;
	top: 10px;
	font-family: Roboto;
	text-align: left;
	font-size: 16px;
	letter-spacing: 0;
	cursor: pointer;
}

.top-elements_2 {
	display: block;
	width: 105px;
	height: 30px;
	top: 0px;
	margin: 0 auto;
}

.top-butons {
	height:;
	position: relative;
	right: 15%;
}

/* Спільні стилі для всіх кнопок */
.custom-button-ico {
	background-color: white;
	width: 30px;
	height: 30px;
	top: 0px;
	padding: 0;
	display: inline-block;
	overflow: hidden;
	position: relative;
	border: none;
	cursor: pointer;
}

/* Специфічні стилі для кожної кнопки */
.button-top-1 {
}

.button-top-2 {
}

.button-top-3 {
}

.button_login {
}

.button_sign-up {
}

.custom-button-ico img {
	width: 30px;
	height: 30px;
	object-fit: cover;
	display: block;
}



.menu {
	width: 100%;
	height: 54px;
	position: absolute;
	top: 93px;
}

.text-designer {
	display: inline-block;
	position: relative;
	color: rgba(0, 0, 0, 1);
	width: 178px;
	height: 54px;
	left: 15%;
	top: 0;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.box-contact {
	position: absolute;
	display: block;
	width: 500px;
	height: 43px;
	top: 0;
	right: 15%;
	/* Змінив left на right */
}

.order_a_call {
	color: white;
	display: block;
	line-height: 43px;
	text-align: center;
	text-decoration: none;
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 0;
}



.frame_portfolio,
.frame_contacts,
.frame_number,
.button_text {
	position: relative;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}

.frame_portfolio {
	width: 80px;
}

.frame_contacts {
	width: 70px;
}

.frame_number {
	width: 140px;
}

.button_text {
	background-color: rgb(255, 100, 100);
	width: 165px;
	height: 43px;
	border-radius: 6px;
	transition: background-color 0.3s;
	cursor: pointer;
	border: none;
}

.text-portfolio,
.text_contacts,
.text_number {
	color: rgba(0, 0, 0, 1);
	width: 100%;
	height: 100%;
	font-family: Roboto;
	text-align: left;
	font-size: 16px;
	letter-spacing: 0;
}

/* Додам медіа-запити для адаптивності */
@media only screen and (max-width: 768px) {
	.text-designer {
		font-size: 24px;
	}

	.box-contact {
		display: block;
		max-width: 100%;
		text-align: center;
		margin-top: 10px;
		right: 0;
	}

	.button_text {
		left: 15px;
	}
}

.button_text:hover {
	background-color: #ff0000;
	/* Ваш бажаний колір для наведення */
}

.button_text:active {
	background-color: #990000;
	/* Ваш бажаний колір для натискання */
}

.order_a_call {
	color: rgba(0, 0, 0, 1);
	width: 137px;
	height: 19px;
	position: absolute;
	left: 14px;
	top: 12px;
	font-family: Roboto;
	text-align: left;
	font-size: 16px;
	letter-spacing: 0;
}

.main-screen {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 170px;
}

.main-bg {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}


.screen-rectangle-bg_1 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.screen-image_1 {
	width: 100%;
	height: 1217px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(images/image.png);
	background-repeat: no-repeat;
	background-size: auto;
}

	.screen-image_1 img {
		width: 100%;
		height: auto;
	}

.main_text {
	width: 919px;
	height: 327px;
	position: absolute;
	left: 221px;
	top: 123px;
}

.text_1 {
	width: 919px;
	height: 232px;
	position: absolute;
	left: 0px;
	top: 0px;
}

h1 {
	color: rgba(0, 0, 0, 1);
	width: 919px;
	height: 154px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 111px;
	letter-spacing: 0;
}


.modern_and_stylish_underwear_for_every_taste {
	color: rgba(0, 0, 0, 1);
	width: 501px;
	height: 70px;
	position: absolute;
	left: 0px;
	top: 162px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.buttons_2 {
	width: 412px;
	height: 58px;
	position: absolute;
	left: 0px;
	top: 269px;
}

.button_about_me {
	background-color: rgb(255, 100, 100);
	width: 174px;
	height: 58px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	transition: background-color 0.3s;
	/* Плавний перехід для зміни кольору фону */
	cursor: pointer;
	/* Змінює вигляд курсора при наведенні на кнопку */
}


	.button_about_me:hover {
		background-color: #ff0000;
		/* Ваш бажаний колір для наведення */
	}

	.button_about_me:active {
		background-color: #990000;
		/* Ваш бажаний колір для натискання */
	}

.text-about_me {
	color: rgba(0, 0, 0, 1);
	width: 108px;
	height: 28px;
	position: absolute;
	left: 33px;
	top: 15px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.button_catalog {
	background-color: rgba(255, 255, 255, 1);
	width: 222px;
	height: 58px;
	position: absolute;
	left: 190px;
	top: 0px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 0px solid rgba(255, 137.7000054717064, 0, 1);
	transition: background-color 0.3s;
	/* Плавний перехід для зміни кольору фону */
	cursor: pointer;
	/* Змінює вигляд курсора при наведенні на кнопку */
}

	.button_catalog:hover {
		background-color: #ff0000;
		/* Ваш бажаний колір для наведення */
	}

	.button_catalog:active {
		background-color: #990000;
		/* Ваш бажаний колір для натискання */
	}

.text-catalog {
	color: rgba(0, 0, 0, 1);
	width: 182px;
	height: 28px;
	position: absolute;
	left: 20px;
	top: 15px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.bottom-butons {
	position: absolute;
	bottom: 20px;
	left: 50px;
}
