.main-content {
    display: flex;
}



/* блок кнопки home та my_services */
.MainMenu {
    display: flex;
    position: absolute;
    height: 42px;
    align-items: center;
}

.MainMenu_left {
    left: 450px;
}

.MainMenu_right {
    right: 450px;
}
/*кнопка home*/
.MainMenu__button-home {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* вертикальна лінія*/
.MainMenu__line-1 {
    margin: 0 0 0 20px;
    width: 0px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.my_services {
    margin: 0 0 0 15px;
    padding: 0;
    bottom: 0;
    background-color: white;
    overflow: hidden;
    border: none;
    color: rgba(0, 0, 0, 1);
    font-family: Roboto, Consolas;
    letter-spacing: 0;
    cursor: pointer;
}

.top-elements_2 {
    width: 120px;
    height: 30px;
    top: 0px;
}

.MainMenu__button-home {
    margin:0 10px 0 5px;
}

.MainMenu__a-img, .MainMenu__Button-img, .footer__Button-img {
    width: 100%;
    object-fit: cover;
    display: block;
}





.button_login_sign-up {
    margin:0;
}

    .button_login_sign-up:hover {
        color: black;
    }



.button_catalog {
    background-color: white;
    transition: box-shadow 0.3s;
}

    .button_catalog:hover {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 17.5px rgba(0, 0, 0, 0.25);
        /* Ваш бажаний колір для наведення */
    }

    .button_catalog:active {
        background-color: #DEA5C5;
        /* Ваш бажаний колір для натискання */
    }



.footer_butons {
    position: absolute;
    bottom: 20px;
    left: 50px;
}

.password-box {
    position: relative;
    display: flex;
}

.form-label {
    position: absolute;
}

.password-ico {
    position: absolute;
    top: 0;
}

footer {
    height: 440px;
    width: 100%;
    background-color: #DEA5C5;
    position: relative;
}

.footer__Call-Me {
    width: 450px;
    height: 380px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 100px;
}
