<!-- загальна бібліотека
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
<!-- загальна бібліотека
<<link rel="stylesheet" href="~/PetProjSite.styles.css" asp-append-version="true" /> -->

<link rel="stylesheet" type="text/css" href="~/css/Home/Home.css">
<link rel="stylesheet" type="text/css" href="~/css/Home/Home-buttons.css">




<section class="Main">
    <h2 style="display:inline-block; margin:0 0 0 400px;"><strong>Дизайнер</strong></h2>

    <div class="Main__contact">

        <button id="Main__button_portfolio" class="Main__contact-button Main__contact-button_portfolio">
            <span class="text-portfolio">Портфоліо</span>
        </button>

        <button id="Main__button_contacts" class="Main__contact-button Main__contact-button_contacts">
            <span class="text__contacts">Контакти</span>
        </button>

        <div class="Main__contact-button Main__button_number">
            <span class="text__number">
                <p id="copyText" onclick="copyToClipboard('copyText')">
                    +38(068)999 99-99
                </p>
            </span>

        </div>

        <button class="Button">
            Замовити дзвінок
        </button>

    </div>

</section>

<section class="Screen">

    <img src="~/images/img-1.png" alt="Your Image">

    <div class="screen__container">

        <h1>
            <strong>
                Котляр Майя<br>
                Дизайнер спідньої білизни
            </strong>
        </h1>

        <h4>
            <strong>
                Сучасна та стильна білизна на<br>
                будь який смак
            </strong>
        </h4>
        <div class="screen__buttons">
            <button class="Button">Про мене</button>
            <button class="Button" style="background-color:var(--background-color-box)">Каталог товарів</button>
        </div>
    </div>



</section>

<section class="bio">
    <div class="bio__about-me-group-img">
        <img src="~/images/portrait.png" alt="Your Image">
        <div class="bio__about-me-img-bg"></div>
        <div class="bio__about-me-img-line"></div>
    </div>

    <div class="bio__text">

        <div class="bio__about-me-text">
            <h3><strong>Про  мене</strong></h3>
            <p style="font-size:24px">
                Доброго дня! Мене звуть Майя, і я - дизайнерка спідньої білизни, присвячена створенню унікальних та особливих виробів, які виражають індивідуальність та стиль кожної людини. Мій підхід до дизайну базується на ретельній ручній роботі та індивідуальному підході до кожного клієнта. 
            </p>
        </div>

        <div class="bio__about-me-text">
            <h3>
                <strong>
                    Як я працюю <br>з клієнтами
                </strong>
            </h3>
            <p style="font-size:24px">Кожна деталь моїх творінь шиється індивідуально, враховуючи особливості тіла та особисті вподобання. Моя мета полягає в тому, щоб кожна людина відчувала себе комфортно та унікально у моїй білизні, яка відзначається не лише естетикою, але й увагою до деталей. Раджу вам відчути цю неповторну атмосферу особистості та тепла у кожному виробі, створеному мною.</p>
        </div>

    </div>

</section>

<section id="portfolio" class="portfolio">

    <h2 style="font-size:42px; text-align:center">
        <strong>
            Портфоліо
        </strong>
    </h2>
    <div class="portfolio__imgs">
        <img src="~/images/portfolio-img-1.png" alt="Your Image">
        <img src="~/images/portfolio-img-2.png" alt="Your Image">
        <img src="~/images/portfolio-img-3.png" alt="Your Image">
        <img src="~/images/portfolio-img-4.png" alt="Your Image">
        <img src="~/images/portfolio-img-5.png" alt="Your Image">
        <img src="~/images/portfolio-img-6.png" alt="Your Image">
        <img src="~/images/portfolio-img-7.png" alt="Your Image">
        <img src="~/images/portfolio-img-8.png" alt="Your Image">
    </div>
</section>

<!-- <footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - PetProjSite
    </div>
</footer>  -->

<script src="~/js/Home.js" defer></script>

