<!-- загальна бібліотека
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
<!-- загальна бібліотека
<<link rel="stylesheet" href="~/PetProjSite.styles.css" asp-append-version="true" /> -->

<link rel="stylesheet" type="text/css" href="~/css/Home.css">




<section class="Main">
    <h2 style="display:inline-block; margin:0 0 0 400px;"><strong>Дизайнер</strong></h2>

    <div class="Main__contact">

        <button id="Main__button_portfolio" class="Main__contact-button Main__contact-button_portfolio">
            <span class="text-portfolio">Портфоліо</span>
        </button>

        <button id="Main__button_contacts" class="Main__contact-button Main__contact-button_contacts">
            <span class="text__contacts">Контакти</span>
        </button>

        <div class="Main__contact-button Main__button_number">
            <span class="text__number">+38(068)999 99-99</span>
        </div>

        <button class="Button">
            Замовити дзвінок
        </button>

    </div>

</section>

<section class="Screen">

    <img src="~/images/img-1.png" alt="Your Image">

    <div class="screen__container">

        <h1>
            <strong>
                Котляр Майя<br>
                Дизайнер спідньої білизни
            </strong>
        </h1>

        <h4>
            <strong>
                Сучасна та стильна білизна на<br>
                будь який смак
            </strong>
        </h4>
        <div class="screen__buttons">
            <button class="Button button_about_me">Про мене</button>
            <button class="Button button_catalog" style="background-color:white">Каталог товарів</button>
        </div>
    </div>



</section>

<section class="bio">

    <div class="bio__about-me">

        <div class="bio__about-me-group-img">
            <img src="~/images/portrait.png" alt="Your Image">
            <div class="bio__about-me-img-bg"></div>
            <div class="bio__about-me-img-line"></div>
        </div>


        <div class="bio__about-me-text">
            <h2 style="font-size:42px"><strong>Про  мене</strong></h2>
            <p style="font-size:24px">Text</p>
            <p style="font-size:24px">Text</p>
            <p style="font-size:24px">Text</p>
            <p style="font-size:24px">Text</p>
            <p style="font-size:24px">Text</p>
            <p style="font-size:24px">Text</p>
        </div>

    </div>
    <div class="bio__about-me">
        <div class="bio__about-me-text" style="display:inline-block;">
            <h2 style="font-size:42px">
                <strong>
                    Як я працюю <br>з клієнтами
                </strong>
            </h2>
            <p style="font-size:24px">Text</p>
            <p style="font-size:24px">Text</p>
            <p style="font-size:24px">Text</p>
            <p style="font-size:24px">Text</p>
            <p style="font-size:24px">Text</p>
            <p style="font-size:24px">Text</p>
        </div>
    </div>

</section>

<section id="portfolio" class="portfolio">

    <h2 style="font-size:42px; text-align:center">
        <strong>
            Портфоліо
        </strong>
    </h2>
    <div class="portfolio__imgs">
        <img src="~/images/portfolio-img-1.png" alt="Your Image">
        <img src="~/images/portfolio-img-2.png" alt="Your Image">
        <img src="~/images/portfolio-img-3.png" alt="Your Image">
        <img src="~/images/portfolio-img-4.png" alt="Your Image">
        <img src="~/images/portfolio-img-5.png" alt="Your Image">
        <img src="~/images/portfolio-img-6.png" alt="Your Image">
        <img src="~/images/portfolio-img-7.png" alt="Your Image">
        <img src="~/images/portfolio-img-8.png" alt="Your Image">
    </div>
</section>

<!-- <footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - PetProjSite
    </div>
</footer>  -->

<script src="~/js/Home.js" defer></script>

