<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- <link rel="stylesheet" href="~/PetProjSite.styles.css" asp-append-version="true" />  -->

    <link rel="stylesheet" type="text/css" href="~/css/Layout.css">
    <link rel="stylesheet" type="text/css" href="~/css/Home.css">

    <title>HomePage</title>
</head>

<body>

    <header>
    </header>

    <main>

        <section class="menu">

            <h2 style="margin: 0 500px 0 320px;"><strong>Дизайнер</strong></h2>
            <div class="box-contact">

                <button id="frame_portfolio" class="frame_portfolio my_services">
                    <span class="text-portfolio">Портфоліо</span>
                </button>

                <button id="frame_contacts" class="frame_contacts my_services">
                    <span class="text_contacts">Контакти</span>
                </button>

                <div class="frame_number">
                    <span class="text_number">+38(068)999 99-99</span>
                </div>

                <button class="button_text">
                    Замовити дзвінок
                </button>

            </div>

        </section>

        <section class="screen">

            <img src="~/images/img-1.png" alt="Your Image">

            <div class="screen-text-container">

                <p class="kotlyar_maya_designer_of_underwear">
                    <strong>
                        Котляр Майя<br>
                        Дизайнер спідньої білизни
                    </strong>
                </p>

                <p class="modern_and_stylish_underwear_for_every_taste">
                    <strong>
                        Сучасна та стильна білизна на<br>
                        будь який смак
                    </strong>
                </p>

            </div>

            <div class="screen-buttons-container">
                <button class="button_text button_about_me" href=""><span class="text-about_me">Про мене</span></button>
                <button class="button_text button_catalog" style="" href=""><span class="text-catalog">Каталог товарів</span></button>
            </div>

        </section>

        <section class="bio">

            <div class="bio-bg">
                <div class="bio-about-me">

                    <div class="bio-about-me-img-grup">
                        <img src="~/images/portrait.png" alt="Your Image">
                        <div class="bio-about-me-img-bg"></div>
                        <div class="bio-about-me-img-line"></div>
                    </div>

                    <div class="bio-about-me-text">
                        <p style="font-size:42px"><strong>Про  мене</strong></p>
                        <p style="font-size:24px">Text</p>
                        <p style="font-size:24px">Text</p>
                        <p style="font-size:24px">Text</p>
                        <p style="font-size:24px">Text</p>
                        <p style="font-size:24px">Text</p>
                        <p style="font-size:24px">Text</p>
                    </div>

                </div>
                <div class="bio-about-me">
                    <div class="bio-about-me-text" style="display:inline-block; margin:0 auto;">
                        <p style="font-size:42px">
                            <strong>
                                Як я працюю <br>з клієнтами
                            </strong>
                        </p>
                        <p style="font-size:24px">Text</p>
                        <p style="font-size:24px">Text</p>
                        <p style="font-size:24px">Text</p>
                        <p style="font-size:24px">Text</p>
                        <p style="font-size:24px">Text</p>
                        <p style="font-size:24px">Text</p>
                    </div>
                </div>
            </div>

        </section>

        <section id="portfolio" class="portfolio">
            
            <div class="portfolio-bg">
                <p style="font-size:42px">
                    <strong>
                        Портфоліо
                    </strong>
                </p>
                <div class="portfolio-imgs">
                <img src="~/images/portfolio-img-1.png" alt="Your Image">
                <img src="~/images/portfolio-img-2.png" alt="Your Image">
                <img src="~/images/portfolio-img-3.png" alt="Your Image">
                <img src="~/images/portfolio-img-4.png" alt="Your Image">
                <img src="~/images/portfolio-img-5.png" alt="Your Image">
                <img src="~/images/portfolio-img-6.png" alt="Your Image">
                <img src="~/images/portfolio-img-7.png" alt="Your Image">
                <img src="~/images/portfolio-img-8.png" alt="Your Image">
                </div>
            </div>
        </section>
    </main>

    <!-- <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PetProjSite
        </div>
    </footer>  -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
