@model Product

<link rel="stylesheet" href="~/css/Login/Login.css">

@using PetProjSite.Controllers;
@{
    if (LoginController.IsAdmin)
    {
        <section class="Login">
            <div class="Login__frame">

                <h1 class="login-text">Add product</h1>

                <form asp-action="AddingNewProduct" class="Login__form-signin">

                    <label asp-for="product_name">Product name: </label>
                    <input asp-for="product_name" class="Login__input" aria-required="true" />
                    <span asp-validation-for="product_name" class="text-danger"></span>

                    <label asp-for="product_price">Price: </label>
                    <input asp-for="product_price" class="Login__input" aria-required="true" />
                    <span asp-validation-for="product_price" class="text-danger"></span>

                    <label asp-for="product_description">Descriprion: </label>
                    <input asp-for="product_description" class="Login__input" aria-required="true" />
                    <span asp-validation-for="product_description" class="text-danger"></span>

                    <label asp-for="product_photo">Photo: </label>
                    <input asp-for="product_photo" class="Login__input" aria-required="true" />
                    <span asp-validation-for="product_photo" class="text-danger"></span>

                    <label asp-for="total_category">Total category: </label>
                    <input asp-for="total_category" class="Login__input" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="total_category" class="text-danger"></span>

                    <label asp-for="sub_category">Sub category: </label>
                    <input asp-for="sub_category" class="Login__input" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="sub_category" class="text-danger"></span>

                    <div class="Login__submit">
                        <button id="addSubmit" type="submit" class="Button Login__btn-signin">Add</button>
                    </div>

                </form>
            </div>
        </section>
    }
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}