@page
@model PetProjSite.Views.Catalog.CatalogModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PetProjSite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/Layout.css">
    <link rel="stylesheet" type="text/css" href="~/css/catalog.css">
</head>
<body>
    <main role="main" class="pb-3">
        <section>
            <div class="box-container-of-things">

                <div class=container-of-things>
                    <img src="/images/img-1.png" alt="">
                    <center>
                        Опис продукту
                    </center>
                    <div class="button-box">
                        <button class="button_text button-things">
                            Переглянути
                        </button>
                    </div>
                </div>

                <div class=container-of-things>
                    <img src="/images/img-1.png" alt="">
                    <center>
                        Опис продукту
                    </center>
                    <div class="button-box">
                        <button class="button_text button-things">
                            Переглянути
                        </button>
                    </div>
                </div>

                <div class=container-of-things>
                    <img src="/images/img-1.png" alt="">
                    <center>
                        Опис продукту
                    </center>
                    <div class="button-box">
                        <button class="button_text button-things">
                            Переглянути
                        </button>
                    </div>
                </div>

                <div class=container-of-things>
                    <img src="/images/img-1.png" alt="">
                    <center>
                        Опис продукту
                    </center>
                    <div class="button-box">
                        <button class="button_text button-things">
                            Переглянути
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
