@using PetProjSite.Controllers;

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <!-- <link rel="stylesheet" href="~/PetProjSite.styles.css" asp-append-version="true" />  -->
    <link rel="stylesheet" type="text/css" href="~/css/Layout.css">
    <link rel="stylesheet" type="text/css" href="~/css/catalog.css">
</head>
<body>
    <main>
        <section>
            <div class="box-container-of-things">
                @foreach (var product in Model)
                {
                    <div class=container-of-things>
                        <img src="@product.product_photo">
                        <div class="container-of-things-text">
                            @product.product_description
                        </div>
                        <div class="button-box">
                            <button class="button_text button-things">
                                Переглянути
                            </button>
                        </div>
                    </div>
                }
            </div>
        </section>
    </main>

</body>
