@using PetProjSite.Controllers;
@using PetProjSite.Models;
@using PetProjSite.Data;

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - PetProjSite</title>

    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <!-- загальна бібліотека
    <<link rel="stylesheet" href="~/PetProjSite.styles.css" asp-append-version="true" /> -->
    <!--   -->
    <link rel="stylesheet" href="~/css/Site/site.css">
    <link rel="stylesheet" href="~/css/Site/site-buttons.css">
    <link rel="stylesheet" type="text/css" href="~/css/Layout.css">

</head>

<body>

    <!-- топ меню -->
    <header>

        <div class="MainMenu MainMenu_left">

            <a class="Button Button_ico" asp-controller="Home" asp-action="Home">
                <img class="" src="~/images/home.png" alt="Your Image">
            </a>

            <div class="MainMenu__line-1"></div>
            <a class="my_services">
                Мої послуги
            </a>
            <div class="MainMenu__line-1"></div>
            <a class="my_services" asp-controller="Catalog" asp-action="Catalog">
                Каталог товарів
            </a>
        </div>

        <div class="MainMenu MainMenu_right">
            @{
                if (LoginController.IsAuthorisated)
                {

                }
                else if (LoginController.IsAdmin)
                {

                }
                else
                {

                }

                <button id="toggleButton" class="Button Button_ico">
                    <img class="" src="~/images/menu.png" alt="Your Image">
                </button>
            }
        </div>

    </header>

    <main>
        @RenderBody()
    </main>

    <aside id="menu">
        <h3 style="text-align:center; padding-top:60px;">Меню</h3>
        @{
            if (LoginController.IsAuthorisated)
            {
                <button class="Button Button_aside">
                    <img src="~/images/heart.png" alt="Your Image">
                    Обране
                </button>
                <form asp-controller="Profile" asp-action="History">
                    <button class="Button Button_aside">
                        <img src="~/images/history.png" alt="Your Image">
                        Історія перегляду
                    </button>
                </form>

                <a class="Button Button_aside" asp-area="" asp-controller="Profile" asp-action="Profile">
                    <img src="~/images/profile (2).png" style="width:24px; height:24px; padding:3px;" alt="Your Image">
                    Профіль
                </a>
                <form asp-action="Logout" asp-controller="Login" class="">
                    <button type="submit" class="Button Button_aside">
                        <img src="~/images/logout.png" style="width:24px; height:24px; padding:3px 0 3px 6px;" alt="Your Image">
                        Вийти
                    </button>
                </form>


            }
            else if (LoginController.IsAdmin)
            {
                <button class="Button Button_aside">
                    <img src="~/images/heart.png" alt="Your Image">
                    Обране
                </button>
                <form asp-controller="Profile" asp-action="History">
                    <button class="Button Button_aside">
                        <img src="~/images/history.png" alt="Your Image">
                        Історія перегляду
                    </button>
                </form>
                <a class="Button Button_aside" asp-area="" asp-controller="Profile" asp-action="Profile">
                    <img src="~/images/profile (2).png" style="width:24px; height:24px; padding:3px;" alt="Your Image">
                    Профіль
                </a>
                <form asp-action="Logout" asp-controller="Login" class="">
                    <button type="submit" class="Button Button_aside">
                        <img src="~/images/logout.png" style="width:24px; height:24px; padding:3px 0 3px 6px;" alt="Your Image">
                        Вийти
                    </button>
                </form>
                <a class="Button  Button_aside" asp-area="" asp-controller="Catalog" asp-action="AddingNewProduct">Add new product</a>
            }
            else
            {
                <a class="Button Button_aside" asp-controller="Login" asp-action="Login">
                    Log in
                </a>
                <a class="Button Button_aside" asp-controller="Registration" asp-action="Registration">Sign up</a>
            }
        }
    </aside>

    <footer id="footer" class="">

        <div style="padding: 20px 0 0 80px; color:white">

            <h1>
                <strong>
                    Зв’язок
                </strong>
            </h1>

            <p style="font-size:24px;">
                Привіт! З нетерпінням чекаю <br> можливості почати сумісну <br> працю з тобою!
            </p>

        </div>

        <div class="footer_butons">

            <button class="Button Button_ico">
                <img class="" src="~/images/telegram1.png" alt="Your Image">
            </button>
            <button class="Button Button_ico">
                <img class="" src="~/images/instagram.png" alt="Your Image">
            </button>
            <button class="Button Button_ico">
                <img class="" src="~/images/facebook.png" alt="Your Image">
            </button>
        </div>
        <div class="footer__Call-Me">
            <h2>Подзвони мені</h2>
            <p>+38(068)999 99-99</p>
            <p>+38(068)999 99-99</p>
            <h2>Години роботи</h2>
            <p>Пн/Пт 10:00 | 20:00</p>
            <p>Сб/Нд 12:00 | 18:00</p>
        </div>
    </footer>

    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
