@using PetProjSite.Controllers;
@using PetProjSite.Models;
@using PetProjSite.Data;

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - PetProjSite</title>

    <!-- Підключення стилів -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" />

    <link rel="stylesheet" type="text/css" href="~/css/Site/site.css">
    <link rel="stylesheet" type="text/css" href="~/css/Site/site-buttons.css">
    <link rel="stylesheet" type="text/css" href="~/css/Site/roots.css">

    <link rel="stylesheet" type="text/css" href="~/css/Shared/Layout.css">
    <link rel="stylesheet" type="text/css" href="~/css/Shared/Layout-buttons.css">
    

</head>

<body>

    <!-- Топ меню -->
    <header>

        <div class="MainMenu MainMenu_left">

            <!-- Кнопка Home -->
            <a class="Button Button_ico Button_Home" asp-controller="Home" asp-action="Home">
                <img class="" src="~/images/home2.png" alt="Your Image">
            </a>

            <!-- Лінія розділу -->
            <div class="MainMenu__line-1"></div>

            <!-- Кнопка "Мої послуги" з анімацією -->
            <div class="hover-button-container">
                <a class="Button Button_text hover-button">
                    Мої послуги
                </a>
                <div class="hover-line"></div>
            </div>

            <!-- Лінія розділу -->
            <div class="MainMenu__line-1"></div>

            <!-- Кнопка "Каталог товарів" з анімацією -->
            <div class="hover-button-container">
                <a class="Button Button_text hover-button" asp-controller="Catalog" asp-action="Catalog">
                    Каталог товарів
                </a>
                <div class="hover-line"></div>
            </div>

        </div>

        <!-- Меню зправа -->

        <div class="MainMenu MainMenu_right">
            @{
                if (LoginController.IsAuthorisated)
                {
                    <button class="Button Button_ico">
                        <img src="~/images/heart.png" alt="heart">
                    </button>

                    <form asp-controller="Profile" asp-action="History">
                        <button class="Button Button_ico">
                            <img src="~/images/history.png" alt="history">
                        </button>
                    </form>

                    <a class="Button Button_ico" asp-area="" asp-controller="Profile" asp-action="Profile">
                        <img src="~/images/profile (2).png" style="width:24px; height:24px; padding:3px;" alt="Profile">
                    </a>

                    <form asp-action="Logout" asp-controller="Login" class="">
                        <button type="submit" class="Button" style="height:25px; font-size:12px;">

                            Вийти
                        </button>
                    </form>
                }
                else if (LoginController.IsAdmin)
                {
                    <button class="Button Button_ico">
                        <img src="~/images/heart.png" alt="Your Image">
                    </button>

                    <form asp-controller="Profile" asp-action="History">
                        <button class="Button Button_ico">
                            <img src="~/images/history.png" alt="Your Image">
                        </button>
                    </form>

                    <a class="Button Button_ico" asp-area="" asp-controller="Profile" asp-action="Profile">
                        <img src="~/images/profile (2).png" style="width:24px; height:24px; padding:3px;" alt="Your Image">
                    </a>

                    <form asp-action="Logout" asp-controller="Login" class="">
                        <button type="submit" class="Button  Button_text" style="height:25px; font-size:14px;">

                            Вийти
                        </button>
                    </form>

                    <a class="Button Button_text" style="height:25px; font-size:14px;" asp-area="" asp-controller="Catalog" asp-action="AddingNewProduct">Add new product</a>
                }
                else
                {
                    <a class="Button Button_text" asp-controller="Login" asp-action="Login">
                        <span class="">Log in</span>
                    </a>
                    <a class="Button Button_text" asp-controller="Registration" asp-action="Registration"><span class="">Sing up</span></a>
                }


            }

        </div>

        <!-- Кнопка для відображення/приховування меню на малих екранах -->
        <button id="toggleButton" class="Button Button_ico Button_menu">
            <img class="" src="~/images/menu.png" alt="Your Image">
        </button>

    </header>

    <!-- Головний контент сторінки -->
    <main style="overflow:hidden; width:100%; position:relative;">
        @RenderBody()

        <!-- Бічне меню -->
        <nav id="menu">
            <h3 style="text-align:center;">Меню</h3>
            @{
                if (LoginController.IsAuthorisated)
                {
                    
                    <button class="Button Button_aside">
                        <img src="~/images/heart.png" alt="Your Image">
                        Обране
                    </button>
                    <form asp-controller="Profile" asp-action="History">
                        <button class="Button Button_aside">
                            <img src="~/images/history.png" alt="Your Image">
                            Історія перегляду
                        </button>
                    </form>

                    <a class="Button Button_aside" asp-area="" asp-controller="Profile" asp-action="Profile">
                        <img src="~/images/profile (2).png" style="width:24px; height:24px; padding:3px;" alt="Your Image">
                        Профіль
                    </a>
                    <form asp-action="Logout" asp-controller="Login" class="">
                        <button type="submit" class="Button Button_aside">
                            <img src="~/images/logout.png" style="width:24px; height:24px; padding:3px 0 3px 6px;" alt="Your Image">
                            Вийти
                        </button>
                    </form>


                }
                else if (LoginController.IsAdmin)
                {
                    <button class="Button Button_aside">
                        <img src="~/images/heart.png" alt="Your Image">
                        Обране
                    </button>
                    <form asp-controller="Profile" asp-action="History">
                        <button class="Button Button_aside">
                            <img src="~/images/history.png" alt="Your Image">
                            Історія перегляду
                        </button>
                    </form>
                    <a class="Button Button_aside" asp-area="" asp-controller="Profile" asp-action="Profile">
                        <img src="~/images/profile (2).png" style="width:24px; height:24px; padding:3px;" alt="Your Image">
                        Профіль
                    </a>
                    <form asp-action="Logout" asp-controller="Login" class="">
                        <button type="submit" class="Button Button_aside">
                            <img src="~/images/logout.png" style="width:24px; height:24px; padding:3px 0 3px 6px;" alt="Your Image">
                            Вийти
                        </button>
                    </form>
                    <a class="Button  Button_aside" asp-area="" asp-controller="Catalog" asp-action="AddingNewProduct">Add new product</a>
                }
                else
                {
                    <a class="Button Button_aside" asp-controller="Login" asp-action="Login">
                        Log in
                    </a>
                    <a class="Button Button_aside" asp-controller="Registration" asp-action="Registration">Sign up</a>
                }
            }
        </nav>
    </main>



    <footer id="footer" class="">
        <div style="justify-content: space-between; display:flex; width:100%; height:auto;">
            <div class="footer__text">

                <h1>
                    <strong>
                        Зв’язок
                    </strong>
                </h1>

                <p style="font-size:24px;">
                    Привіт! З нетерпінням чекаю <br> можливості почати сумісну <br> працю з тобою!
                </p>

            </div>


            <div class="footer__Call-Me">
                <h2>Подзвони мені</h2>
                <p>+38(068)999 99-99</p>
                <p>+38(068)999 99-99</p>
                <h2>Години роботи</h2>
                <p>Пн/Пт 10:00 | 20:00</p>
                <p>Сб/Нд 12:00 | 18:00</p>
            </div>

        </div>

        <div class="footer_butons">

            <button class="Button Button_ico">
                <img class="" src="~/images/telegram1.png" alt="Your Image">
            </button>
            <button class="Button Button_ico">
                <img class="" src="~/images/instagram.png" alt="Your Image">
            </button>
            <button class="Button Button_ico">
                <img class="" src="~/images/facebook.png" alt="Your Image">
            </button>
        </div>
    </footer>

    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
