@using PetProjSite.Controllers;
@using PetProjSite.Models;
@using PetProjSite.Data;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetProjSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Layout.css">
    <!-- <link rel="stylesheet" href="~/PetProjSite.styles.css" asp-append-version="true" />  -->
</head>
<body>
    <header>
        <div class="top">
            <!-- топ меню -->

            <div class="home_my_services">

                <a class="custom-button-ico button_home" asp-controller="Home" asp-action="Home">
                    <img src="~/images/home.png" alt="Your Image">
                </a>

                <div class="line_1"></div>
                <a class="my_services" src="">
                    Мої послуги
                </a>
                <div class="line_1"></div>
                <a class="my_services" asp-controller="Catalog" asp-action="Catalog">
                    Каталог товарів
                </a>
            </div>
            <!--

         <div class="top-elements_2">
                <button class="custom-button-ico button-top-1">
                    <img src="~/images/ico-1.png" alt="Your Image">
                </button>
                <button class="custom-button-ico button-top-2">
                    <img src="~/images/ico-2.png" alt="Your Image">
                </button>
                <button class="custom-button-ico button-top-3">
                    <img src="~/images/ico-3.png" alt="Your Image">
                </button>
            </div>
            -->
            <div class="top-butons">
                @{
                    if (LoginController.IsAuthorisated)
            {

                        <a class="button_text button_login_sign-up" asp-area="" asp-controller="Profile" asp-action="Profile">Profile</a>
                        <form asp-action="Logout" asp-controller="Login" class="button_login_sign-up">
                            <button type="submit" class="button_text  btn">Log out</button>
                        </form>

                    }
                    else if (LoginController.IsAdmin)
                    {
                        <a class="button_text button_login_sign-up" asp-area="" asp-controller="Catalog" asp-action="AddingNewProduct">Add new product</a>
                        <form asp-action="Logout" asp-controller="Login" class="button_login_sign-up">
                            <button type="submit" class="button_text  btn">Log out</button>
                        </form>
                    }
                    else
                    {
                        <a class="button_text button_login_sign-up" asp-controller="Login" asp-action="Login">
                            Log in
                        </a>
                        <a class="button_text button_login_sign-up" asp-controller="Registration" asp-action="Registration">Sign up</a>
                    }
                    <button class="custom-button-ico button-seting">
                        <img src="~/images/ico_settings.png" alt="Your Image">
                    </button>
                }
            </div>
        </div>

    </header>

    <main>
        @RenderBody()
    </main>


    <footer class="border-top footer text-muted">
        <p style="font-size:82px; margin: 20px 0 0 80px; color:white">
            <strong>
                Зв’язок
            </strong>
        </p>
        <p style="font-size:24px; margin: 20px 0 0 80px; color:white">
            Привіт! З нетерпінням чекаю <br> можливості почати сумісну <br> працю з тобою!
        </p>
        <div class="bottom-butons">

            <button class="custom-button-ico">
                <img src="~/images/telegram1.png" alt="Your Image">
            </button>
            <button class="custom-button-ico">
                <img src="~/images/instagram.png" alt="Your Image">
            </button>
            <button class="custom-button-ico">
                <img src="~/images/facebook.png" alt="Your Image">
            </button>
        </div>
        <div class="Call-me">
            <h2>Подзвони мені</h2>
            <p>+38(068)999 99-99</p>
            <p>+38(068)999 99-99</p>
            <h2>Години роботи</h2>
            <p></p>
            <p></p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
