@using PetProjSite.Controllers
@using PetProjSite.Models;
@using PetProjSite.Data;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - PetProjSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineLibrary.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/Layout.css">
</head>
<body>
    <header>
				<div class="top">
					<!-- топ меню -->
					<div class="top-element">
						<div class="home_my_services">

							<a class="custom-button-ico button_home" asp-controller="Home" asp-action="Index">
								<img src="~/images/home.png" alt="Your Image">
							</a>

							<div class="line_1"></div>
							<a class="my_services" src="">
								Мої послуги
							</a>
							<div class="line_1"></div>
							<a class="my_services" asp-controller="Catalog" asp-action="Catalog">
								Каталог товарів
							</a>

						</div>
						<div class="top-elements_2">
							<button class="custom-button-ico button-top-1">
						<img src="~/images/ico-1.png" alt="Your Image">
							</button>
							<button class="custom-button-ico button-top-2">
						<img src="~/images/ico-2.png" alt="Your Image">
							</button>
							<button class="custom-button-ico button-top-3">
						<img src="~/images/ico-3.png" alt="Your Image">
							</button>
						</div>
						<div class="top-butons">
						@{
							if (LoginController.IsAuthorisated)
							{
								
									<a class="button_text button_login" asp-area="" asp-controller="Profile" asp-action="Profile">Profile</a>
									<form asp-action="Logout" asp-controller="Login" class="button_text button_sign-up">
										<button type="submit" class="btn">Log out</button>
									</form>
								
							}
							else
							{
									<a class="button_text button_login" asp-controller="Login" asp-action="Login">
										Log in
									</a>
									<a class="button_text button_sign-up" asp-controller="Registration" asp-action="Registration">Sign up</a>
							}
						<button class="custom-button-ico button-seting">
							<img src="~/images/ico_settings.png" alt="Your Image">
						</button>
						}					
						</div>						
					</div>
				</div>				
			</header>
			<div class="container">
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>

			<footer class="border-top footer text-muted">
				<div class="container">
					<div class="bottom-butons">
						<button class="custom-button-ico">
							<img src="~/images/telegram.png" alt="Your Image">
						</button>
						<button class="custom-button-ico">
							<img src="~/images/instagram.png" alt="Your Image">
						</button>
						<button class="custom-button-ico">
							<img src="~/images/facebook.png" alt="Your Image">
						</button>
					</div>
				</div>
			</footer>
			<script src="~/lib/jquery/dist/jquery.min.js"></script>
			<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
			<script src="~/js/site.js" asp-append-version="true"></script>
			@await RenderSectionAsync("Scripts", required: false)
	</body>
</html>
