@page
@model PetProjSite.Views.catalog.catalogModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PetProjSite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/Layout.css">
</head>
<body>
    <div class=frame_3_61_11>
        <div class=group_9_59_10>
            <div class="rectangle_1_59_5"></div><span class="______________59_6">ОПИС ПРОДУКТУ</span>
            <div class="rectangle_2_59_7"></div><span class="_________59_8">ЗАМОВИТИ</span>
        </div>
    </div>
</body>
